button {
    font-family: 'kontur', 'Segoe UI', sans-serif;
}

.left-side {
    background-color: #bcbcbc;

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-height: 100%;

    padding: 3rem 5.5rem 3rem 3rem;
}

.left-side-warning {
    background-color: #f6c1c0;
}

.button {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;

    background-color: #fefefe;
    background-image: linear-gradient(#fefefe, #ebebeb);
    
    padding: 0.55rem 0.8rem 0.6rem 0.7rem;

    text-align: center;
    vertical-align: middle;
}

.button:hover {
    background-image: linear-gradient(#f2f2f2, #dedede);
}

.button:active {
    background-image: none;
    background-color: #d9d9d9;
    box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.3);
}

.button:focus {
    box-shadow: 0 0 0 2px #5199db;
}

.button:disabled {
    background-color: #f2f2f2;
    background-image: none;
    color: #808080;

    border-color: rgba(0, 0, 0, 0.2)
}

.button-multiply {
    color: white;
    background-color: #4ba91d;
    background-image: linear-gradient(#4ba91d, #37910b);
    
    border-radius: 0.3rem;
    
    padding: 1rem 2rem 1.2rem 2rem;

    position: relative;
    display: inline-block;
}

.button-multiply::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transform: translate(14px, 5px) rotate(45deg);
    width: 27.577px;
    height: 27.577px;
    display: block;
    background-image: linear-gradient(135deg, #4ba91d, #37910b);

    border: inherit;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: inherit;
}

.button-multiply:hover {
    background-image: linear-gradient(#3b8d13, #307e0a);
}

.button-multiply:hover::after {
    background-image: linear-gradient(135deg, #3b8d13, #307e0a);
}

.button-multiply:active,
.button-multiply::after:active {
    background-image: none;
    background-color: #35840e;
}

.button-add {
    margin-right: 0.8rem;
}

.matrix-action {
    margin-bottom: 5.5rem;
}

.matrix-abilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-bottom: 6.5rem;
}

.button-clear,
.matrix-editing:nth-of-type(2) {
    margin-bottom: 1rem;
}

.matrix-selection {
    margin-bottom: 1.3rem;
}

#matrix-b-radio {
    margin-left: 1.3rem;
}

span {
    vertical-align: middle;
    margin-left: 0.5rem;
}

.warning {
    display: none;
    margin-top: 5rem;
    max-width: 22rem;
    color: #da0902;
}

.warning-visible {
    display: unset;
}