.right-side {
    flex: 1 1 auto;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.matrix-calculated-matrix-a {
    display: flex;
}

.matrix-calculated,
.matrix-a,
.matrix-b {
    position: relative;
    margin:1.7rem 0.2rem 2.2rem 4.2rem;
    padding: 0.3rem;

    background-image: 
        linear-gradient(to right, black 0.8rem, transparent 0.8rem, transparent calc(100% - 0.8rem), black calc(100% - 0.8rem)),
        linear-gradient(to right, black 0.8rem, transparent 0.8rem, transparent calc(100% - 0.8rem), black calc(100% - 0.8rem)),
        linear-gradient(to bottom, black, black),
        linear-gradient(to bottom, black, black);
    background-size: 100% 0.2rem, 100% 0.2rem, 0.2rem 100%, 0.2rem 100%;
    background-position: 0 0, 0 bottom, 0 0, right 0;
    background-repeat: no-repeat;
}

.matrix-a::after, 
.matrix-b::after {
    position: absolute;
    font-size: 2.5rem;
}

.matrix-a::after {
    content: "A";
    top: calc(50% - 1rem);
    right: -2.5rem;
}

.matrix-b::after {
    content: "B";
    right: calc(50% - 0.8rem);
    bottom: -2.5rem;
}

.matrix-row {
    white-space: nowrap;
}

.matrix-field {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
}

.matrix-field:invalid:not(:placeholder-shown) {
	border: 0.2rem solid #da0902;
}

span {
    height: 100%;
    vertical-align: middle;
}